<div class="modal fade" id="mobile-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog sm-2">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 id="mu-modal-title" class="modal-title">Edit User Profile</h4>
            </div>
            <div ng-controller="EditUserController">
                <form role="form" novalidate="" name="user_form" ng-submit="editUser(user)">
                    <ng-include src="'/static/templates/partials/admin/user-modal-fields.html'"></ng-include>
                </form>
            </div>
        </div>
    </div>
</div>