<div class="section">

    <div class="c-well">
        <div class="row with-btm-margin">
            <div class="col-md-3 sub-section-header">
                <span class="icon icon-contact-add"></span><span class="title">{[{user.first_name}]} {[{user.last_name}]}</span>
            </div>
            <div class="col-lg-5">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Username</th>
                        <td>{[{ user.username }]}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{[{ user.email }]}</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>{[{ user.phone }]}</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{[{ user.location.name }]}</td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" id="edit-user" class="btn btn-default btn-icon pull-right">
                    <span class="icon icon-plus-circle"></span>
                    <span class="value">Edit</span>
                </button>
            </div>

        </div>
    </div>
</div>
