<div class="modal fade" id="reset-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog sm-2">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 id="mu-modal-title" class="modal-title">Reset Password </h4>
            </div>
            <div class="confirmation-modal">
                Are you sure you want to reset this user's password?  They will be notified of their new password by email.
            </div>
            <div>
                <form role="form" novalidate="" name="form.user_form" ng-submit="resetPassword(user)">
                    <div class="modal-footer">
                        <button type="button" id="close-reset-password-modal" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" id="submit-reset-password-modal" close-modal="reset-password-modal"
                                class="btn btn-info" save-state="" data-loading-text="Resetting...">Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>