<div ng-controller="UserProfileController" class="modal fade" id="sender-profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog sm-2">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 id="mu-modal-title" class="modal-title">User Profile </h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row with-btm-margin">
                        <div class="col-md-3 sub-section-header pull-left">
                            <div class="title text-center profile-title">{[{profile.name | uppercase }]}</div>
                            <div>
                                <img ng-cloak class="profile-pic" ng-src="{[{ profileImageSrc }]}" alt=""/>
                            </div>
                        </div>
                        <div class="col-md-9 pull-left">
                            <div class="info-container">
                                <div class="title text-center profile-title"></div>
                                <div>
                                    <i class="icon icon-mail"></i><span>Email:</span><strong>{[{ profile.email }]}</strong>
                                </div>
                                <div>
                                    <i class="icon icon-phone-on"></i><span>Phone Number:</span><strong>{[{ profile.phone }]}</strong>
                                </div>
                                <div>
                                    <i class="icon icon-location"></i><span>Location:</span><strong>{[{ [profile.location.parent, profile.location] | joinNames }]}</strong>
                                </div>
                                <div ng-show="profile.group">
                                    <i class="icon icon-contacts-social"></i><span>Role:</span><strong>{[{ profile.group_name }]}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>