<div class="c-well">

    <div class="row with-btm-margin">
        <div class="col-md-4 sub-section-header">
            <span class="icon icon-flash-electric"></span><span class="title">Registered Disasters</span>
        </div>
        <div class="user-actions pull-right">
            <ul>
                <li>
                    <button type="button" id="add-disaster" class="btn btn-default user-btn btn-icon"
                            data-toggle="modal" data-target="#disasters-modal" ng-click="addDisaster()">
                        <span class="icon icon-plus-circle"></span>
                        <span class="value">Add Disasters</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <table si-table="" class="table table-hover table-striped style-header table-clickable">
        <thead>
        <tr>
            <th>Disaster</th>
            <th>Location</th>
            <th>Description</th>
            <th>Status</th>
            <th>Duration</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="disaster in disasters" ng-click="showAssociatedMessages(disaster)">
            <td>{[{ disaster.name.name }]}</td>
            <td>
                <div>{[{ disaster.locations[0].parent.name }]}</div>
                <span>{[{ disaster.locations | joinNames | capitalize }]}</span>
            </td>
            <td>{[{ disaster.description }]}</td>
            <td>{[{ disaster.status }]}</td>
            <td>{[{ disaster.date | duration }]}</td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td colspan="5">
                <si-table-pagination limit="10"/>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
