<div class="c-well">
    <ng-include src="'/static/templates/partials/admin/disasters/download-disasters-modal.html'"></ng-include>
    <div class="row with-btm-margin">
        <div class="col-md-3 sub-section-header">
            <span class="icon icon-flash-electric"></span><span class="title">Disaster Risks</span>
        </div>
        <div class="user-actions pull-right">
            <ul class="ul-horizontal">
                <li ng-if-permissions="can_manage_disasters" class="hide">
                    <button id="download-disasters-modal" type="button" class="btn btn-default btn-action btn-icon" data-toggle="modal"
                                data-target="#download-disasters-modal">
                            <span class="icon icon-download"></span>

                            <div class="value">Download CSV</div>
                        </button>
                </li>
                <li ng-if-permissions="can_manage_disasters" class="hide">
                    <button type="button" id="add-disaster" class="btn btn-default btn-action btn-icon"
                            data-toggle="modal" data-target="#disasters-modal" ng-click="addDisaster()">
                        <span class="icon icon-plus-circle"></span>
                        <span class="value">Add Disaster Risks</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <table si-table="" class="table table-hover table-striped style-header table-clickable">
        <thead>
        <tr>
            <th>Disaster Risk</th>
            <th>Location</th>
            <th>Description</th>
            <th>Status</th>
            <th>Duration</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="disaster in disasters" ng-click="showDisasterInfo(disaster)">
            <td>{[{ disaster.name.name }]}</td>
            <td>
                <div>{[{ disaster.locations[0].parent.name }]}</div>
                <span>{[{ disaster.locations | joinNames | capitalize }]}</span>
            </td>
            <td>{[{ disaster.description }]}</td>
            <td>{[{ disaster.status }]}</td>
            <td>{[{ disaster.date | duration }]}</td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td colspan="5">
                <si-table-pagination limit="15"/>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
