<div class="modal fade" ng-controller="DisastersController" id="disaster-summary-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog sm-2">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 id="mu-modal-title" class="modal-title">Disaster Risk</h4>
            </div>
            <div class="modal-body">
                <div class="row with-btm-margin">
                    <div class="disaster-toast" growl></div>
                    <div class="col-lg-12">
                        <div class="info-container">
                            <div>
                                <i class="icon icon-torso"></i>
                                <span>Type:</span>
                                <strong>{[{ disasterInfo.name.name }]}</strong>
                            </div>
                            <div>
                                <i class="icon icon-location"></i>
                                <span>Location:</span>

                                <div class="multi-line-details">
                                    <strong>
                                        <div>{[{ disasterInfo.locations[0].parent.name }]}</div>
                                    </strong>
                                    <span>{[{ disasterInfo.locations | joinNames | capitalize }]}</span>
                                </div>
                            </div>
                            <div>
                                <i class="icon icon-phone-on"></i>
                                <span>Description:</span>
                                <strong>{[{ disasterInfo.description }]}</strong>
                            </div>
                            <div>
                                <i class="icon icon-location"></i>
                                <span>Status:</span>
                                <strong>{[{ disasterInfo.status }]}</strong>
                            </div>
                            <div>
                                <i class="icon icon-contacts-social"></i>
                                <span>Duration:</span>
                                <strong>{[{ disasterInfo.date | duration }]}</strong>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>