<div class="modal fade" modal-close id="download-disasters-modal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog sm-2">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 id="download-Disasters-modal-title" class="modal-title">Download Disasters</h4>
            </div>
            <div>
                <form ng-controller="DownloadDisastersModalController" role="form" novalidate="" name="download_disasters_form" ng-submit="downloadDisasters(disaster)" novalidate>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="from-date">From</label>
                            <input id="from-date" class="form-control" ng-model="disaster.dfrom" data-datepicker="" data-timepicker="false"
                                   placeholder="Select start date... (defaults to all)"/>
                        </div>

                        <div class="form-group">
                            <label for="to-date">To</label>
                            <input id="to-date" class="form-control" ng-model="disaster.dto" data-datepicker="" data-timepicker="false"
                                   placeholder="Select to date... (defaults to all)"/></select>
                        </div>

                        <div class="form-group">
                            <label for="dstatus">Status</label>
                            <input type="text" ng-model="disaster.status" name="status" class="form-control"
                                   placeholder="select disaster status" disaster-status="disaster" required=""
                                    data-default-value="disaster.status">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close-sms-modal" class="btn btn-default"
                                data-dismiss="modal">Close
                        </button>
                        <button type="submit" id="download-Disasters-btn" close-modal="download-Disasters-modal" class="btn btn-info" save-state=""
                                data-loading-text="Downloading..." save-state="">Download
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>