<div class="modal fade" id="bulk-sms-modal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog sm-2">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 id="sms-modal-title" class="modal-title">Send Bulk SMS</h4>
            </div>
            <div ng-controller="SmsModalController">
                <form role="form" novalidate="" name="send_sms_form" ng-submit="sendBulkSms()">
                    <div class="modal-body">

                        <div class="form-group recipient"
                             ng-class="{'has-error': send_sms_form.recipient.$invalid && hasErrors }">
                            <label class="control-label" for="recipient">To</label>
                            <input type="text" id="recipient" name="recipient" ng-model="sms.phone_numbers"
                                   class="form-control" placeholder="enter recipient e.g +256771234567" recipients required="">

                            <div id="recipient-errors" class="error-text"
                                 ng-show="send_sms_form.recipient.$invalid && hasErrors">
                                <p class="text-danger" ng-show="send_sms_form.recipient.$error.required">
                                    This field is required
                                </p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': send_sms_form.message.$invalid && hasErrors }">
                            <label class="control-label" for="message">Message</label>
                            <textarea id = "message" class="form-control" rows="5" ng-model="sms.text" name="message"
                                      placeholder="enter 160 character message" required ng-maxlength="160"></textarea>

                            <div id="message-errors" class="error-text"
                                 ng-show="send_sms_form.message.$invalid && hasErrors">
                                <p class="text-danger" ng-show="send_sms_form.message.$error.required">
                                    This field is required
                                </p>
                                <p class="text-danger" ng-show="send_sms_form.message.$error.maxlength">
                                    Please enter not more that 160 characters
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="close-sms-modal" class="btn btn-default"
                                    data-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" id="send-sms-btn" close-modal="bulk-sms-modal" class="btn btn-primary" save-state=""
                                    data-loading-text="Sending...">Send
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>