<div map="" id="map" current_user="{[{ current_user_id }]}"></div>
<span id="map-spinner"
      spinner-key="map-spinner"
      us-spinner="{lines: 17,length: 21,width: 3,radius: 35,corners: 0,rotate: 0,direction: 1,color: '#fff',speed: 1.1,trail: 60,shadow: true}"></span>
<div id="stats-overlay" data-for="stats" sliding-panel="back-arrow" ng-controller="DashboardStatsController">
    <span class="back-arrow summary-stats-panel-arrow icon icon-chevron-left"></span>

    <div class="stats-container">
        <div class="sub-section-header">
            <span class="title">{[{locationTitles.name}]}</span>

        </div>
        <div class="stats-content">
            <ng-include src="'/static/templates/partials/admin/stats-content.html'"></ng-include>
        </div>
    </div>
</div>
<div id="message-overlay" data-for="message" sliding-panel="back-arrow" ng-controller="DashboardMessagesController">
    <span class="back-arrow message-panel-arrow icon icon-chevron-left"></span>

    <div class="message-container">
        <div class="sub-section-header">
            <span class="icon icon-bubble-3"></span><span class="title">Messages</span>
        </div>
        <div class="messages-table">
            <ng-include src="'/static/templates/partials/admin/messages-table.html'"></ng-include>
        </div>
    </div>
</div>
