<div class="section">
    <div class="page-header">
        <h4>Disasters</h4>
    </div>

    <ng-include src="'/static/templates/partials/admin/disasters-modal.html'"></ng-include>

    <div class="page-actions pull-right">
        <button type="button" id="add-disaster" class="btn btn-primary" data-toggle="modal" data-target="#disasters-modal">
            Add Disasters
        </button>
    </div>

    <table si-table="" class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>Disaster</th>
            <th>Location</th>
            <th>Description</th>
            <th>Status</th>
            <th>Duration</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="disaster in disasters">
            <td>{[{ disaster.name.name }]}</td>
            <td>{[{ disaster.location.name }]}</td>
            <td>{[{ disaster.description }]}</td>
            <td>{[{ disaster.status }]}</td>
            <td>{[{ disaster.date | duration }]}</td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td colspan="5">
                <si-table-pagination limit="10"/>
            </td>
        </tr>
        </tfoot>
    </table>

</div>