<table si-table="" class="table table-hover table-striped style-header">
    <thead>
    <tr>
        <th class="xsm-column" ng-show="showMessageCheckboxes "></th>
        <th sort-by="phone" class="md-column">Source</th>
        <th sort-by="text" >SMS Body</th>
        <th sort-by="location" class="sm-column">Location</th>
        <th sort-by="time" sort-init="desc" >Date Time</th>
        <th sort-by="disaster == undefined" class="sm-column">Status {[{ filter.location }]}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="message in messages | filter:district | filter:subcounty">
        <td ng-show="showMessageCheckboxes"><input type="checkbox" checklist-model="selected.messages" checklist-value="message.id"/></td>
        <td>{[{ message.source }]} <span>({[{ message.phone }]})</span></td>
        <td>{[{ message.text }]}</td>
        <td>{[{ message.location }]}</td>
        <td>{[{ message.time | date:"MMM dd, yyyy - h:mma" }]}</td>
        <td class="status">
            <span ng-show="message.disaster" class="label label-success">Associated</span>
            <span ng-hide="message.disaster" class="label label-warning">Pending</span>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6">
            <si-table-pagination limit="10"/>
        </td>
    </tr>
    </tfoot>
</table>