
<div class="section">
    <div class="row">
        <div class="c-well col-md-offset-3 col-md-4 page-summary">
            <ul>
                <li>
                    <button id="uncategorized-sms" type="button" class="btn btn-big btn-info">
                        <span class="huge-number">{[{uncategorizedMessagesCount}]}</span>

                        <div class="value">Uncategorized</div>
                        <div class="value">Messages</div>
                    </button>

                </li>
                <li>
                    <button id="send-bulk-sms" type="button" class="btn btn-info btn-big" data-toggle="modal"
                            data-target="#bulk-sms-modal">
                        <span class="icon icon-mail-letter"></span>

                        <div class="value">Send SMS Alert</div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="c-well">

        <div class="row with-btm-margin">
            <div class="col-md-6 sub-section-header">
                <span class="icon icon-bubble-3"></span><span class="title">All Received Messages</span>
                <span class="badge">{[{messages.length}]}</span>
            </div>
            <div class="col-md-1">
                <button id="message-refresh" class="icon icon-sync badge refresh-button" ng-click="refresh()"></button>
            </div>
            <div class="col-md-3 district-filter">
                <input type="text" id="district" ng-model="location" name="location" select-location="" data-max-locations="1"
                       class="form-control" placeholder="select location" required="">
            </div>

            <div class="col-md-1">
                <div class="btn-group">
                    <button id="actions-btn" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Actions <span class="caret"></span>
                    </button>
                    <ul ng-show="selected.messages.length" class="dropdown-menu" role="menu">
                        <li><a id="add-to-disaster" data-toggle="modal"
                               data-target="#add-to-disaster-modal">Add to disaster</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ng-include src="'/static/templates/partials/admin/messages-table.html'"></ng-include>
    </div>

    <div class="sms-toast" growl></div>

    <ng-include src="'/static/templates/partials/admin/bulk-sms-modal.html'"></ng-include>
    <ng-include src="'/static/templates/partials/admin/add-to-disaster-modal.html'"></ng-include>
</div>
