<div class="section">

    <ng-include src="'/static/templates/partials/admin/mobile-user-modal.html'"></ng-include>
    <div class="c-well">
        <div class="row with-btm-margin">
            <div class="col-md-3 sub-section-header">
                <span class="icon icon-contact-add"></span><span class="title">Users List</span>
            </div>
            <div class="col-md-2">
                <button type="button" id="create-user" class="btn btn-default btn-icon" data-toggle="modal"
                        data-target="#mobile-user-modal">
                    <span class="icon icon-plus-circle"></span>
                    <span class="value">Add new user</span>
                </button>
            </div>
        </div>

        <table si-table="" class="table table-hover table-striped style-header table-clickable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Location</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="user in users" ng-click="showUserProfile(user)">
                <td>{[{ user.name }]}</td>
                <td>{[{ user.phone }]}</td>
                <td>{[{ user.email }]}</td>
                <td>{[{ [user.location.parent, user.location] | joinNames }]}</td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="5">
                    <si-table-pagination limit="10"/>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>
