<div class="section">
    <div class="c-well">

        <div class="row with-btm-margin">
            <div class="col-md-5 sub-section-header">
                <span class="icon icon-pie-2"></span><span class="title">All Polls</span>
            </div>
            <div class="user-actions pull-right" ng-if-permissions="can_manage_polls">
                <ul>
                    <li>
                        <button type="button" id="new-poll-btn" class="btn btn-default btn-action btn-icon"
                                data-toggle="modal" data-target="#new-poll-modal">
                            <span class="icon icon-plus-circle"></span>
                            <span class="value">New Poll</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <table si-table="" class="table table-hover table-clickable table-striped style-header">
            <thead>
            <tr>
                <th>Poll</th>
                <th>Question</th>
                <th>Responses</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="key in notSorted(polls)" ng-init="poll = polls[key]" ng-click="showPollResponses(poll)">
                <td>{[{ poll.name }]}</td>
                <td>{[{ poll.question }]}</td>
                <td>{[{ poll.number_of_responses }]}</td>
                <td>{[{ poll.created_at | date:"MMM dd, yyyy - h:mma" }]}</td>
                <td><button type="button"  class="btn btn-default btn-action btn-icon" id="download-poll-btn" ng-click="$event.stopPropagation();downloadPoll(poll.id)">
                    <span class="icon icon-download"></span>
                    <span class="value">Download</span>
                </button></td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="5">
                    <si-table-pagination limit="15"/>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="poll-toast" growl></div>

    <ng-include src="'/static/templates/partials/admin/new-poll-modal.html'"></ng-include>
</div>
