
<div class="section">
    <div class="row" ng-if-permissions="can_manage_polls" class="hide">
        <div class="c-well col-md-offset-3 col-md-4 page-summary">
            <ul>
                <li>
                    <button id="new-poll-btn" type="button" class="btn btn-info btn-big" data-toggle="modal"
                            data-target="#new-poll-modal">
                        <span class="icon icon-pie-2"></span>
                        <div class="value">New Poll</div>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="c-well">

        <div class="row with-btm-margin">
            <div class="col-md-5 sub-section-header">
                <span class="icon icon-pie-2"></span><span class="title">All Polls</span>
            </div>
        </div>

        <table si-table="" class="table table-hover table-clickable table-striped style-header">
            <thead>
            <tr>
                <th>Poll</th>
                <th>Question</th>
                <th>Responses</th>
                <th>Created</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="poll in polls | orderBy: 'created_at': true" ng-click="showPollResponses(poll)">
                <td>{[{ poll.name }]}</td>
                <td>{[{ poll.question }]}</td>
                <td>{[{ poll.number_of_responses }]}</td>
                <td>{[{ poll.created_at | date:"MMM dd, yyyy - h:mma" }]}</td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="5">
                    <si-table-pagination limit="15"/>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="poll-toast" growl></div>

    <ng-include src="'/static/templates/partials/admin/new-poll-modal.html'"></ng-include>
</div>
