<div id="location-stats">
    <div id="stats-numbers">
        <table id="summary-stats-table">
            <tbody>
                <tr class="xl-number">
                    <td>
                        {[{stats.disasters.count}]}
                    </td>
                    <td>
                        {[{stats.disasters.affected}]}
                    </td>
                </tr>
                <tr>
                    <td>
                        Disasters
                    </td>

                    <td>
                        <div>Affected</div>
                        <div>{[{locationTitles.subLocation}]}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <highchart id="chart1" config="disasterStatsCharts" ng-show="disasterTypeDistribution"></highchart>
</div>