<div class="with-margin">
    <div class="col-sm-3 col-md-2 sidebar">
        <div class="row no-margin">
            <a class="navbar-brand " href="#"><span class="icon icon-navicon-round"></span><span
                    class="title">NECOC DMS</span></a>
        </div>
        <div class="" ng-controller="AdminPanelController">
            <ul class="nav nav-sidebar">
                <li ui-sref-active="active">
                    <a ui-sref="admin.dashboard" id="dashboard-tab">
                        <span class="icon icon-keypad-2"></span>
                        <span class="bar-content">Dashboard</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="admin.messages" id="messages-tab">
                        <span class="icon icon-bubble-3"></span>
                        <span class="bar-content">Messages</span>
                        <span class="badge">{[{messages.length}]}</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="admin.disasters">
                        <span class="icon icon-flash-electric"></span>
                        <span class="bar-content">Disasters</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="admin.polls" id="polls-tab">
                        <span class="icon icon-pie-2"></span>
                        <span class="bar-content">Polls</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="admin.mobile-users" id="users-tab">
                        <span class="icon icon-contacts-social"></span>
                        <span class="bar-content">Users</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="main">
    <div ui-view></div>
</div>