<div class="page-header">
    <h3>Messages</h3>
</div>


<table si-table="" class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
        <th>Identifier</th>
        <th>Location</th>
        <th>Date Time</th>
        <th>SMS Body</th>
        <th>Source</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="message in messages">
        <td>{[{ message.sms }]}</td>
        <td>-</td>
        <td>{[{ message.time }]}</td>
        <td>{[{ message.text }]}</td>
        <td>{[{ message.source }]}</td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
        <td colspan="5">
            <si-table-pagination limit="10" />
        </td>
    </tr>
    </tfoot>
</table>