{% extends "base.html" %}
{% block page_title %} NECOC DMS {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}bower_components/selectize/dist/css/selectize.bootstrap3.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}bower_components/angular-growl-v2/build/angular-growl.min.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}bower_components/datetimepicker/jquery.datetimepicker.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}bower_components/leaflet/dist/leaflet.css"/>
{% endblock %}

{% block body %}
{% load generic_tags %}
<div>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ng-bind="$state.current.data.pageTitle"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" id="logged-in-user"><span
                                class="glyphicon glyphicon-user"></span>&nbsp;{{ request.user.username }}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="user_profile_link" href="#/admin/users/{{ request.user | get_profile_id }}">Account</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search"
                      ng-show="$state.current.data.pageTitle == 'Dashboard'">
                    <div class="form-group">
                        <input type="text" search-map="" ng-model="map.search" class="form-control"
                               placeholder="Search">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right navbar-title"
                    ng-show="$state.current.data.pageTitle == 'Dashboard'">
                    <li><a href="" ng-cloak>Uganda
                        {[{ params.location.district | capitalize | prependSlash }]}
                        {[{ params.location.subcounty | capitalize | prependSlash }]}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div ui-view></div>

</div>
{% endblock %}

{% block before_scripts %}
<script src="{{ STATIC_URL }}bower_components/ng-file-upload/angular-file-upload-shim.js"></script>
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-permission/dist/angular-permission.js"></script>
<script src="{{ STATIC_URL }}bower_components/si-table/dist/si-table.js"></script>
<script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}bower_components/sifter/sifter.min.js"></script>
<script src="{{ STATIC_URL }}bower_components/microplugin/src/microplugin.js"></script>
<script src="{{ STATIC_URL }}bower_components/selectize/dist/js/selectize.min.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
<script src="{{ STATIC_URL }}bower_components/datetimepicker/jquery.datetimepicker.js"></script>
<script src="{{ STATIC_URL }}bower_components/moment/min/moment.min.js"></script>
<script src="{{ STATIC_URL }}bower_components/checklist-model/checklist-model.js"></script>
<script src="{{ STATIC_URL }}bower_components/leaflet/dist/leaflet.js"></script>
<script src="{{ STATIC_URL }}bower_components/ng-file-upload/angular-file-upload.js"></script>
<script src="{{ STATIC_URL }}bower_components/chroma-js/chroma.js"></script>
<!-- Custom files -->
<script src="{{ STATIC_URL }}js/modules/index.js"></script>
<script src="{{ STATIC_URL }}js/modules/config.js"></script>
<script src="{{ STATIC_URL }}js/modules/user.js"></script>
<script src="{{ STATIC_URL }}js/modules/message.js"></script>
<script src="{{ STATIC_URL }}js/modules/location.js"></script>
<script src="{{ STATIC_URL }}js/modules/mobile-user.js"></script>
<script src="{{ STATIC_URL }}js/modules/utils.js"></script>
<script src="{{ STATIC_URL }}js/modules/disaster.js"></script>
<script src="{{ STATIC_URL }}js/modules/disaster-type.js"></script>
<script src="{{ STATIC_URL }}js/modules/admin-panel.js"></script>
<script src="{{ STATIC_URL }}js/modules/map.js"></script>
<script src="{{ STATIC_URL }}js/modules/layer.js"></script>
<script src="{{ STATIC_URL }}js/modules/geojson.js"></script>
<script src="{{ STATIC_URL }}js/modules/stats.js"></script>
<script src="{{ STATIC_URL }}js/modules/filters.js"></script>
<script src="{{ STATIC_URL }}js/modules/polls.js"></script>
<script src="{{ STATIC_URL }}js/modules/poll-responses.js"></script>
<script src="{{ STATIC_URL }}js/modules/dashboard.js"></script>
<script src="{{ STATIC_URL }}js/modules/user-profile.js"></script>
{% endblock %}